@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/*
.archivo-black-regular {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.archivo-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/* Overflow */

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555555;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.15);
}

.line-through {
  text-decoration: line-through;
}

/* html */
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  background: linear-gradient(90deg, #303030 0%, #474747 50%, #555555 100%);
}

/* Body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(90deg, #303030 0%, #474747 50%, #555555 100%);
}

/* Dev defined styles */
.text-center {
  text-align: center;
}

/* Header */
header {
  width: 100%;
  height: auto;
  min-height: 10vh;
  text-align: center;
  background-color: transparent;
  color: rgba(224, 173, 62, 1);
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 500px) {
  header {
    font-size: 25px;
  }
}

/* Main */
main {
  width: 100%;
  height: auto;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  main {
    min-height: 70vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: transparent;
  color: rgba(224, 173, 62, 0.952);
  padding: 20px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
}

footer p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  padding: 5px 0px;
}

footer a:hover {
  color: rgba(224, 173, 62, 1);
}

footer span {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
}

@media screen and (max-width: 500px) {
  footer {
    font-size: 15px;
  }
}

/* Main Styles */

/* Welcome Box */
.welcome {
  width: auto;
  height: auto;
  max-width: 400px;
  color: #303030;
  background: linear-gradient(90deg, rgba(255, 188, 45, 0.76) 0%, rgba(250, 190, 62, 0.76) 50%, rgba(253, 196, 73, 0.76) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  color: #303030;
}

.welcome h2 {
  font-size: 26px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  padding: 0;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome h2 span {
  text-transform: none;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome h3 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.welcome p {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  place-self: center;
  font-variation-settings: "wdth" 100;
}

.welcome ul {
  list-style-type: circle;
  text-align: left;
  width: 100%;
  padding: 0 20px 20px 20px;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
}

.welcome ul li {
  font-size: 17px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 5px 0;
}

.welcome ul a {
  text-decoration: underline;
  color: #474747;
  cursor: pointer;
  padding: 5px 0px;
}

.welcome ul a:hover {
  color: #303030;
}

.welcome .create-task {
  padding: 10px 25px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #474747;
  color: rgba(224, 173, 62, 0.952);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  place-self: center;
}

.welcome .create-task:hover {
  background-color: #303030;
  color: rgba(224, 173, 62, 0.952);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .welcome {
    width: 90%;
  }
  .welcome h2 {
    font-size: 20px;
  }
  .welcome p {
    font-size: 16px;
  }
  .welcome .create-task {
    font-size: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 20vh;
  }
}

/* Add New Task Popup */
.popup {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s all ease-in-out;
  color: #303030;
}

.popup .add-task {
  position: relative;
  min-width: 300px;
  height: auto;/* Change it! */
  width: auto;
  color: #303030;
  background: linear-gradient(90deg, rgba(255, 188, 45, 0.76) 0%, rgba(250, 190, 62, 0.76) 50%, rgba(253, 196, 73, 0.76) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.popup .add-task .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 35px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.popup .add-task h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.popup .add-task p {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.popup .add-task h5 {
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.popup .add-task h6 {
  font-size: 13px;
  margin: 5px 0 10px 0;
  padding: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(172, 16, 16);
}

.popup input[type="date"] {
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #474747;
  color: rgba(224, 173, 62, 0.952);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup .add-task textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #474747;
  color: rgba(224, 173, 62, 0.952);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  resize: none;
}

.popup button {
  width: 100%;
  padding: 10px 25px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #474747;
  color: rgba(224, 173, 62, 0.952);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup button:hover {
  background-color: #303030;
  color: rgba(224, 173, 62, 0.952);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .popup .add-task {
    padding: 3rem;
  }
  .popup .add-task h2 {
    font-size: 22px;
  }
  .popup .add-task textarea {
    font-size: 20px;
  }
  .popup .add-task button {
    font-size: 16px;
  }
}

/* Task List */
.task-list {
  position: relative;
  width: 300px;
  height: auto;
  max-height: 350px;
  color: #303030;
  background: linear-gradient(90deg, rgba(224, 173, 62, 0.952) 0%, rgba(224, 173, 62, 0.8) 50%, rgba(253, 196, 73, 0.76) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: none;
}

.task-list form {
  width: 100%;
  box-sizing: border-box;
}

.task-list .task-btns {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  place-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.task-list .task-common-btn {
  padding: 10px 10px 4px 10px;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  background-color: #474747;
  color: rgba(224, 173, 62, 0.952);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.task-list .task-common-btn:hover {
  background-color: #303030;
}

.task-list h2 {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.task-list h3 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0;
  margin: 0;
}

.task-list label {
  width: 100%;
  height: auto;
  max-height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 5px 5px 15px 5px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.3);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.task-list p {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 0;
  margin: 0;
}

.task-list input {
  margin: 10px 0 10px 0;
}

.task-list .mark {
  padding: 10px 25px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #474747;
  color: rgba(224, 173, 62, 0.952);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  place-self: center;
}

.task-list .mark:hover {
  background-color: #303030;
  color: rgba(224, 173, 62, 0.952);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.task-list input:hover {
  cursor: pointer;
}

.task-list textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #474747;
  color: rgba(224, 173, 62, 0.952);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  resize: none;
  margin: 5px 0 10px 0;
}

.task-list input[type="date"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #474747;
  color: rgba(224, 173, 62, 0.952);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px 0 10px 0;
}

@media screen and (max-width: 500px) {
  .task-list {
    width: 90%;
  }
  .task-list h2 {
    font-size: 20px;
  }
  .task-list p {
    font-size: 16px;
  }
  .task-list .mark {
    font-size: 16px;
  }
}

/* If screen size is less than 300px */
.if-size-less-than-300 {
  display: none;
}

@media screen and (max-width: 300px) {
  header {
    display: none;
  }
  main {
    display: none;
  }
  footer {
    display: none;
  }
  .if-size-less-than-300 {
    display: block;
    padding: 50px 0;
  }
  .if-size-less-than-300 p {
    font-size: 18px;
    color: rgba(224, 173, 62, 1);
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.notification-container {
  position: fixed;
  width: auto;
  box-sizing: border-box;
  bottom: 20px;
  right: 10px;
  background-color: rgba(216, 168, 62, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #303030;
  padding: 16px;
  border-radius: 10px;
  animation: slide-up 0.5s ease-out;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 18px;
}

@keyframes slide-up {
  from {
    transform: translateY(110%);
  }
  to {
    transform: translateY(-3%);
  }
}

.notification-container.slide-down {
  animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@media screen and (max-width: 500px) {
  .notification-container {
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 30px 20px;
    right: 0;
    border-radius: 0;
  }
}